/* selection area */
.background{
    background: black;
}

.title{
    color: white;
    display: flex;
    justify-content: center;
}

.selection{
    display: grid;
    justify-content: center;
    padding-right: 15%;
}


/* box styles*/
.box{
    background-color: rgba(35, 35, 35, 1);
    margin: 5px;
    height: 5em;
    width: 300px;
    position: relative;
}

/* custom property for animateable variable */
@property --opacity{
    syntax: "<number>";
    initial-value: 0.0;
    inherits: false;
}

.box:hover::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    z-index: -1;
    padding: 1px;

    /*var --opacity used for pulsing animation*/
    background-color: rgba(255, 255, 255, var(--opacity));

    animation: 0.5s pulse alternate infinite;
}

@keyframes pulse{
    from{
        --opacity: 0.0;
    }
    to{
        --opacity: 1.0;
    }
}

.tab{
    position: absolute;
    margin: 10px;
    bottom: -10px;
    height: 5em;
    width: 100%;
    left: 100%;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to right, rgba(255, 0, 0, 1) 5%, rgba(255, 0, 0, 0.5) 5%);
}
