@font-face {
  font-family: Time;
  src: url('fonts/TimeItalic.ttf') format('truetype');
}

html, body {
    height: 100%;  /* This enables % height on child elements */
    margin: 0;
    padding: 0;
}

.gallery{
    width: 40%;
    border: 2px solid #333; /* Optional border */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Optional shadow for effect */
    margin: 0.5rem;
}

.optionSection{
    background-color: rgba(35, 35, 35, 1);
    padding: 5px;
    padding-left:10px;
    color: white;
    border: 3px outset gray;
    width: 6%;
    left: 5px;
    display: flex;
    position: absolute;

    transition: 
        width 0.2s ease,
        justify-content 1s ease;
}

.optionSection.open{
    width: 25%;
    justify-content: space-evenly;
}

.option{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.optionLight{
    background: radial-gradient(circle at 30% 30%, #222 0%, #000 100%);
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 
        inset -2px -2px 5px rgba(0, 0, 0, 0.6),
        inset 2px 2px 5px rgba(255, 255, 255, 0.1),
        0 2px 4px rgba(0, 0, 0, 0.5);
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.optionLight.on{
    background: radial-gradient(circle at 30% 30%, rgba(92, 209, 146, 0.5), #000 100%);
}

.modelBox{
    background-color: rgba(35, 35, 35, 1);
    padding: 10px;
    display:flex;
    margin: 0.5rem;
    color: white;
    position: relative;
}

/* custom property for animateable variable */
@property --opacity{
    syntax: "<number>";
    initial-value: 0.0;
    inherits: false;
}

.modelBox:hover::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110%;
    height: 110%;
    transform: translate(-50%,-50%);
    z-index: -1;
    padding: 1px;

    /*var --opacity used for pulsing animation*/
    background-color: rgba(255, 255, 255, var(--opacity));
    animation: 0.5s pulse alternate infinite;
}

@keyframes pulse{
    from{
        --opacity: 0.0;
    }
    to{
        --opacity: 1.0;
    }
}

