@font-face {
  font-family: Time;
  src: url('fonts/TimeItalic.ttf') format('truetype');
}

html, body {
    height: 100%;  /* This enables % height on child elements */
    margin: 0;
    padding: 0;
}

.gallery{
    width: 40%;
    border: 2px solid #333; /* Optional border */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Optional shadow for effect */
    margin: 2rem;
}

.scrollbar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(54,54,54,0.5);
    height: 100px;
    margin-left: 20%;
    margin-right: 20%;
    overflow: auto; 

    border-radius: 1rem;
    border-color: rgba(256,256,256,0.5);
    border-style: solid;
}

.modelBox{
    background-color: rgba(35, 35, 35, 1);
    padding: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    color: white;
    position: relative;
}


/* custom property for animateable variable */
@property --opacity{
    syntax: "<number>";
    initial-value: 0.0;
    inherits: false;
}

.modelBox:hover::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 111%;
    height: 110%;
    transform: translate(-50%,-50%);
    z-index: -1;
    padding: 1px;

    /*var --opacity used for pulsing animation*/
    background-color: rgba(255, 255, 255, var(--opacity));
    animation: 0.5s pulse alternate infinite;
}

@keyframes pulse{
    from{
        --opacity: 0.0;
    }
    to{
        --opacity: 1.0;
    }
}

.musicBar{
    font-family: Time, sans-serif;
    font-size: 200%;
    letter-spacing: -7px;

    color: rgba(92, 209, 146, 1);
    border: 1px solid rgba(92, 209, 146, 0.5);
    border-radius: 5px;
    box-shadow: inset 0 0 20px rgba(92, 209, 146, 0.8); /* inner glow fading in */

    position: fixed;
    width: 100%;
    height: 5%;
    bottom: 5px;

    display: flex;
    align-items: center;

}

.slidingWords {
  position: fixed;
  white-space: nowrap;
  transform: translateX(100vw); /* start fully off-screen to the right */
  animation: slideAcross 10s linear forwards;
  animation-delay: 2s;
}

@keyframes slideAcross {
  to {
    transform: translateX(-150%); /* move entire element off the left */
  }
}
