html, body {
    height: 100%;  /* This enables % height on child elements */
    margin: 0;
    padding: 0;
}

.gallery{
    width: 40%;
    border: 2px solid #333; /* Optional border */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Optional shadow for effect */
    margin: 2rem;
}

.arrow{
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    border: 50%;
    width: 5%;
    height: 50%;
    color:white;
    background-color: blue;
    align-items: center;
}
