.selection{
    display: grid;
    justify-content: center;
    padding-right: 25%;
}

/* box styles*/
.arrow{
    background-color: rgba(35, 35, 35, 1);
    margin: 5px;
    position: relative;
    width: 5%;
    height: 50%;
    color: white;
}

.scrollbar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(54,54,54,0.8);
    height: 100px;
    margin-left: 20%;
    margin-right: 20%;
    overflow: auto; 
}

.radio{
    display: flex;
    margin-top: 1%;
    justify-content: center;
    position: relative;
}

.headunit{
    object-fit: contain;
    width: 50%;
    height: 50%;
    z-index: -1;
}

.volumeDial{
    border-radius: 50%;
    position: absolute;
    width: 5.5%;
    height: 35%;
    left: 27.75%;
    bottom: 40%;
    cursor: wait;
}


.radioOnButton{
    border-radius: 50%;
    position: absolute;
    width: 1.4%;
    height: 9%;
    left: 27.75%;
    bottom: 17.5%;
    cursor: pointer;
}

.volume{
    font-family: Time, sans-serif;
    font-size: 200%;
    letter-spacing: -7px;

    color: rgba(92, 209, 146, 1);
    position: absolute;

    bottom: 45%;
}

.visualizer{
    position: absolute; 
    width: 27.75%;
    height: 50%;
    bottom: 28%;
    left: 35.75%;
}

.musicBar{
    font-family: Time, sans-serif;
    font-size: 200%;
    letter-spacing: -7px;

    color: rgba(92, 209, 146, 1);
    border: 1px solid rgba(92, 209, 146, 0.5);
    border-radius: 5px;
    box-shadow: inset 0 0 30px rgba(92, 209, 146, 0.8); /* inner glow fading in */

    position: fixed;
    width: 100%;
    height: 5%;
    bottom: 5px;

    display: flex;
    align-items: center;

    opacity: 1;
    transition: opacity 5s ease;
    pointer-events: auto;
}

.musicBar.off{
    opacity: 0;
    pointer-events: none;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    display: none;
}


.slidingWords {
  position: fixed;
  white-space: nowrap;
  transform: translateX(100vw); /* start fully off-screen to the right */
  animation: slideAcross 8s linear forwards;
  animation-delay: 2s;
}

@keyframes slideAcross {
  to {
    transform: translateX(-150%); /* move entire element off the left */
  }
}

.infoSection{
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
    color: rgba(255, 255, 255, 0.8);
    text-align: justify;
    background-color: rgba(43,43,43, 0.5);
    border-style: outset;

}
