@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&display=swap');


:root{
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;; */
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
}

/* selection area */
.background{
    background: black;
}

.title{
    color: white;
    display: flex;
    justify-content: center;
}

.header{
    color: white;
    display: flex;
    justify-content: center;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content:space-evenly;
    width: 10%;
}

a{
    color:white;
}
